<p>
  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <span>Field Monitor</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/stone-overview">Available Stones</button>
      <button mat-button routerLink='/sensor-contacts'>Sensor Contacts</button>
      <button mat-button routerLink='/graph'>Graph</button>
      <button mat-button routerLink='/names'>Names</button>

      <button mat-button (click)='openFieldtracksAbout()'>About</button>
      <button mat-button (click)='openFieldtracksContact()'>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
