a {
  text-decoration: none;
  color: white;
}
a:hover, a:active {
  color: lightgray;
}
.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sync{
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}
