<mat-toolbar color="primary" >

  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()" >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs fxLayoutAlign="flex-start">
    Field Monitor -&nbsp;
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-start">
    <span fxLayoutAlign="end">{{ config.sectionTitle }}</span>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <button (click)="onSearchToggle()" *ngIf="config && config.showSearch" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <div *ngIf="config.showRefresh && refreshActive" [className]="syncClass" >
      <button (click)="onDisableRefresh()" mat-icon-button>
        <mat-icon >sync</mat-icon>
      </button>

    </div>

    <button *ngIf="config.showRefresh && !refreshActive" (click)="onEnableRefresh()" mat-icon-button>
      <mat-icon>sync_disabled</mat-icon>
    </button>
  </div>
</mat-toolbar>

