<mat-sidenav-container>
  <mat-sidenav [opened]="openSidenav" #sidenav role="navigation">
    <app-sidenav-list (sidebarTooggle)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidebarTooggle)="sidenav.toggle()" (searchToggle)="toggleSearch()"></app-header>
        <main>
          <div  fxLayout="row" fxLayoutAlign="end" *ngIf="showToggle">
          <mat-form-field #search>
            <span matPrefix>
              <mat-icon>search</mat-icon>
            </span>
            <input matInput name="search" #searchInput (keydown)="updateSearch()" [(ngModel)]="searchString" class="search_input">
          </mat-form-field>
        </div>
          <router-outlet (activate)='routerOutletActivated($event)'></router-outlet>

        </main>
  </mat-sidenav-content>
</mat-sidenav-container>


